html body p {
  font-family: "Courier New" !important;

}

main {
  padding-left: 1.5em;
}

#infobox{
  width: 30ww;
  position: absolute;
  right: 20px;
  top: 3px;
}

label {
  font-size: 90%;
  border: solid 1px;
  box-shadow: 0px 3px 10px #1E2128;
  padding: 8px;
  margin: 10px;
}

label > p {
  display: inline;
}

input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1); /* IE */
  -moz-transform: scale(1); /* FF */
  -webkit-transform: scale(1); /* Safari and Chrome */
  -o-transform: scale(1); /* Opera */
  transform: scale(1);
  padding: 10px;
  display: inline-block;
}

hr {
  border-color: black;
}

/* ----Alla cards--- */
.card{
  border-color: #4C566A;
  background-color: #2D333F;
}

.card-background{
  box-shadow: 0px 3px 10px #1E2128;
  margin-bottom: 20px;
}

input[type=checkbox] {
  -ms-transform: scale(2); /* IE */
  -moz-transform: scale(2); /* FF */
  -webkit-transform: scale(2); /* Safari and Chrome */
  -o-transform: scale(2); /* Opera */
}

/*Test med navigationsbar*/
.navbar {
  overflow: hidden;
  background-color: #333;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 280px;>
}

/* Links inside the navbar */
.navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change background on mouse-over */
.navbar a:hover {
  background: #ddd;
  color: black;
}

/* Main content */
.main {
  margin-top: 30px; /* Add a top margin to avoid content overlay */
}

